<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!----main header--------->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-------Left header-->
            <div class="col-md-6 col-12 main_header_right">
              <figure>
                <img
                  src="images/as.jpg"
                  alt="pic"
                  class="img-fluid"
                  title="tamang"
                />
              </figure>
            </div>
            <!-------Right header-->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>I Am A <span class="text-clr">Full Stack</span> Developer</h1>

              <a href=""> <button>About me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------footer part-->
    {{>footer}}
  </body>
</html>
